**/node_modules
**/dist
**/.vite
**/.DS_Store
**/.vscode
**/.idea

# Ignore all .env files, except for frontend/.env.prod
.env*
!/frontend/.env.prod

/frontend/public/assets
/frontend/public/index.html
